<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DEFAULT_CONNECTION_STRING" connectionString="Data Source=hksmmis;User ID=hksmmis;Password=woaijjgis;" providerName="System.Data.OracleClient"/>-->
    <add name="DEFAULT_CONNECTION_STRING" connectionString="User ID=GISDB; Password=jjgis123.0;Data Source=GISDB96;Persist Security Info=False" providerName="System.Data.OracleClient"/>
    <!--deser-->
    <add name="dserR1C1" connectionString="11" providerName="dser.inp"/>
    <add name="dserR1C2" connectionString="8" providerName="dser.inp"/>
    <add name="dserR1C3" connectionString="8" providerName="dser.inp"/>
    <add name="dserR1C4" connectionString="8" providerName="dser.inp"/>
    <add name="dserR1C5" connectionString="8" providerName="dser.inp"/>
    <add name="dserR1C6" connectionString="8" providerName="dser.inp"/>
    <add name="dserR1C7" connectionString="2" providerName="dser.inp"/>
    <add name="dserR1C8" connectionString="" providerName="dser.inp"/>
    <add name="dserR2C1" connectionString="5" providerName="dser.inp"/>
    <add name="dserRnC1" connectionString="10" providerName="dser.inp"/>
    <add name="dserRnC2" connectionString="10" providerName="dser.inp"/>


    <!--dxdy-->
    <add name="dxdyR1C1" connectionString="3" providerName="dxdy.inp"/>
    <add name="dxdyR1C2" connectionString="4" providerName="dxdy.inp"/>
    <add name="dxdyR1C3" connectionString="9" providerName="dxdy.inp"/>
    <add name="dxdyR1C4" connectionString="9" providerName="dxdy.inp"/>
    <add name="dxdyR1C5" connectionString="10" providerName="dxdy.inp"/>
    <add name="dxdyR1C6" connectionString="8" providerName="dxdy.inp"/>
    <add name="dxdyR1C7" connectionString="10" providerName="dxdy.inp"/>
    <add name="dxdyR1C8" connectionString="9" providerName="dxdy.inp"/>

    <add name="dxdyRnC1" connectionString="5" providerName="dxdy.inp"/>
    <add name="dxdyRnC2" connectionString="5" providerName="dxdy.inp"/>
    <add name="dxdyRnC3" connectionString="12" providerName="dxdy.inp"/>
    <add name="dxdyRnC4" connectionString="10" providerName="dxdy.inp"/>
    <add name="dxdyRnC5" connectionString="10" providerName="dxdy.inp"/>
    <add name="dxdyRnC6" connectionString="10" providerName="dxdy.inp"/>
    <add name="dxdyRnC7" connectionString="12" providerName="dxdy.inp"/>
    <add name="dxdyRnC8" connectionString="" providerName="dxdy.inp"/>


    <!--qser-->
    <add name="qserR1C1" connectionString="11" providerName="qser.inp"/>
    <add name="qserR1C2" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C3" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C4" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C5" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C6" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C7" connectionString="8" providerName="qser.inp"/>
    <add name="qserR1C8" connectionString="1" providerName="qser.inp"/>
    <add name="qserR1C9" connectionString="" providerName="qser.inp"/>
    <add name="qserR2C1" connectionString="2" providerName="qser.inp"/>
    <add name="qserRnC1" connectionString="10" providerName="qser.inp"/>
    <add name="qserRnC2" connectionString="9" providerName="qser.inp"/>


    <!--dye-->
    <add name="dyeRnC1" connectionString="9" providerName="dye.inp"/>
    <add name="dyeRnC2" connectionString="" providerName="dye.inp"/>

    <!--efdc-->
    <add name="efdcC7NTC" connectionString="11" providerName="efdc.inp"/>
    <add name="efdcC7NTSPTC" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NLTC" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTTC" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTCPP" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTSTBC" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTCNB" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTCVB" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NTSMMT" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NFLTMT" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC7NDRYSTP" connectionString="8" providerName="efdc.inp"/>

    <add name="efdcC8TCON" connectionString="13" providerName="efdc.inp"/>
    <add name="efdcC8TBEGIN" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8TREF" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8CORIOLIS" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8ISCORV" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8ISCCA" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8ISCFL" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8ISCFLM" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8DTSSFAC" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC8DTSSDHDT" connectionString="10" providerName="efdc.inp"/>

    <add name="efdcC46BSC" connectionString="10" providerName="efdc.inp"/>
    <add name="efdcC46TEMO" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46HEQT" connectionString="11" providerName="efdc.inp"/>
    <add name="efdcC46ISBEDTEMI" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46KBH" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46RKDYE" connectionString="11" providerName="efdc.inp"/>
    <add name="efdcC46NCBS" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46NCBW" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46NCBE" connectionString="8" providerName="efdc.inp"/>
    <add name="efdcC46NCBN" connectionString="8" providerName="efdc.inp"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
