<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
    <!--<add name="DEFAULT_CONNECTION_STRING" connectionString="Data Source=hksmmis;User ID=hksmmis;Password=woaijjgis;" providerName="System.Data.OracleClient"/>-->
   <add name="DEFAULT_CONNECTION_STRING"  connectionString="User ID=GISDB; Password= jjgis123.0;Data Source=HNHBORASERVER;Persist Security Info=False" providerName="System.Data.OracleClient"/>
   <add name="dserR1C1" connectionString="11" providerName="dser.inp"/>
   <add name="dserR1C2" connectionString="7" providerName="dser.inp"/>
   <add name="dserR1C3" connectionString="7" providerName="dser.inp"/>
   <add name="dserR1C4" connectionString="7" providerName="dser.inp"/>
   <add name="dserR1C5" connectionString="7" providerName="dser.inp"/>
   <add name="dserR1C6" connectionString="7" providerName="dser.inp"/>
   <add name="dserR1C7" connectionString="1" providerName="dser.inp"/>
   <add name="dserR1C8" connectionString=" " providerName="dser.inp"/>
   <add name="dserR2C1" connectionString="5" providerName="dser.inp"/>
   <add name="dserRnC1" connectionString="10" providerName="dser.inp"/>
   <add name="dserRnC2" connectionString="10" providerName="dser.inp"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>