<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--数据库连接库-->
    <add name="zlyjgisdb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.1.52)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.microsoft.com)));User ID=jnjc;Password=jnjc;Persist Security Info=True;Max Pool Size = 1000;" />
    <add name="mirs" connectionString="User ID=mirs; Password= mirs;Data Source=mirs;Persist Security Info=False" providerName="System.Data.OracleClient" />
    <!--<add name="jcyfzxdb" providerName="Oracle.OracleClient.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.192.199)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hwjjyf)));User ID=energy;Password=95938;Persist Security Info=True;Max Pool Size = 1000;" />-->
  </connectionStrings>
  <system.web>
    <!--2017年6月21日10:26:04  王岩松   添加 webconfig清空session-->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" />
    <!--<httpRuntime requestValidationType="RequestValidatorDisabled" targetFramework="4.5.2" executionTimeout="3600000"   maxRequestLength="20480"/>-->
  </system.web>
  <system.serviceModel>
    <!--////**/    /<bindings/> 
    <client/>-->
    <bindings>
      <basicHttpBinding>
        <binding name="AirWebServiceSoap" />
        <binding name="DataServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://123.30.17.72:8009/AirWebService.asmx" binding="basicHttpBinding" bindingConfiguration="AirWebServiceSoap" contract="cityAQIServices.AirWebServiceSoap" name="AirWebServiceSoap" />
      <endpoint address="http://123.41.100.32:8007/DataService.asmx" binding="basicHttpBinding" bindingConfiguration="DataServiceSoap" contract="waterDBLService.DataServiceSoap" name="DataServiceSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <!-- 注意: 服务名称必须与服务实现的配置名称相匹配。 -->
      <service name="Service" behaviorConfiguration="ServiceTypeBehaviors">
        <!-- 注意: 服务必须有一个 http 基址以便添加此终结点。 -->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
    </services>
  </system.serviceModel>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".vsdx" mimeType="application/vnd.visio" />
        </staticContent>
    </system.webServer>
</configuration>