html, body, form, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#f4f3f0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}


.test {
    width:500px;
    height:300px;
    background-color:red;
    position:absolute;
	border-radius:50%;
}
.outPanl{
    position:absolute;
    left:0;
    width:280px;
    height:280px;
    bottom:0px;
}
.disk{
	width:280px;
	height:280px;
	bottom:20px;
	position:absolute;
	z-index:999;
}
.diqiu{
    position: absolute;
    background: url(../Images/diqiu.png) no-repeat;
    background-size: 127px;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    bottom: 72px;
    left: 132px;
    z-index: 9999;
    cursor:pointer;
}
.hideAllTool{
    position: absolute;
    left: 243px;
    top: 183px;
    width: 18px;
    height: 18px;
    background: url(../Images/btn_menu_hide.png);
    background-size: 18px;
    z-index: 1001;
    cursor:pointer;
}
.fileText{
    position:absolute;
    left:45px;
    top:90px;
    color:#FFF;
    font-size:12px;
    font-weight:600;
    width:30px;
    height:20px;
    line-height:20px;
    text-align:center;
    z-index:1100;
}
.usersTool{
    position: absolute;
    left: 75px;
    top: 70px;
    z-index: 1100;
    width: 100px;
    height: 100px;
    font-size: 12px;
    color: #645e24;
    font-weight:600;
}
.usersTool .openFile{
    /*width: 100%;*/
    height: 18px;
    border-bottom: 1px solid #245e24;
    padding-left: 20px;
    line-height: 18px;
    cursor: pointer;
    margin-top: 7px;
}
.usersTool .openFile:hover{
    background:#9BCD9B;
}
.titleWin {
    width: auto;
    height: 39px;
    background-color: #2c2c2c;
    border: 1px solid black;
    opacity: .9;
    position: absolute;
    left: 100px;
    bottom: 40px;
    right: 10px;
    z-index: 998;
    display:none;
}
.titleWin .titleOnWin{
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    z-index:1100;
}
.titleWin .titleOnWin .twoDimension{
    position:absolute;
    width:39px;
    height:39px;
    top:0;
    right:160px;
    border-left:1px solid #7d7e79;
    cursor:pointer;
}
.titleWin .titleOnWin .twoThreeDimension{
    position:absolute;
    width:39px;
    height:39px;
    top:0;
    right:200px;
    border-left:1px solid #7d7e79;
    cursor:pointer;
}

.titleWin .logoBox{
    position:absolute;
    left:170px;
    top:0px;
    height:39px;
    width:500px;
}
.titleWin .logo{
	width:33px;
	height:31px;
	background-image:url(../Images/logo.png);
	background-position:center;
	position:absolute;
	left:0px;
	top:3px;
}
.titleWin .titleZh{
	color:#6f9353;
	font-family:'Microsoft YaHei';
	font-size:16px;
	font-weight:bold;
	position:absolute;
	left:40px;
	top:2px;
}
.titleWin .titleEn{
	color:#387381;
	font-size:9px;
	position:absolute;
	left:40px;
	bottom:3px;
}
.titleWin .st:hover{
	background-color:#666666;
	opacity:.9;
}
.titleWin .serviceTool{
	width:160px;
	height:100%;
	position:absolute;
	right:0px;
}
.titleWin .serviceTool .stTopLeft{
	width: 19px;
    height: 19px;
    border-left: 1px solid #7d7e79;
    position: absolute;
    left: 0;
    padding:10px;
    
}
.titleWin .serviceTool .stTopRight{
	width: 29px;
    height: 29px;
    border-left: 1px solid #7d7e79;
    /* border-bottom: 1px solid #7d7e79; */
    position: absolute;
    right: 0px;
    padding:5px;
}
.titleWin .serviceTool .stBottomLeft{
	width: 29px;
    height: 29px;
    border-left: 1px solid #7d7e79;
    position: absolute;
    /* bottom: 0px; */
    left: 40px;
    padding:5px;
}
.titleWin .serviceTool .stBottomRight{
	width: 29px;
    height: 29px;
    border-left: 1px solid #7d7e79;
    position: absolute;
    /* bottom: 0px; */
    right: 40px;
    padding:5px;
}
.titleWin .cardTool{
    width: 150px;
    height: 100%;
    position: absolute;
    right: 336px;
}

.titleWin .cardTool .ctTopOne{
	width:77px;
	height:19px;
	border-left:1px solid #7d7e79;
	border-bottom:1px solid #7d7e79;
	position:absolute;
}
.titleWin .cardTool .ctTopOne .ctTopOneIn{
    margin:0 3px;
    height:100%;
}
.titleWin .cardTool .ctTopOne .ctTopOneShade{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1001;
}
.titleWin .cardTool .ctTopTwo{
	width:22px;
	height:19px;
	border-left:1px solid #7d7e79;
	border-bottom:1px solid #7d7e79;
	left:77px;
	position:absolute;
}
.titleWin .cardTool .ctTopThree{
	width:22px;
	height:19px;
	border-left:1px solid #7d7e79;
	border-bottom:1px solid #7d7e79;
	left:100px;
	position:absolute;
}
.titleWin .cardTool .ctTopFour{
	width:22px;
	height:19px;
	border-left:1px solid #7d7e79;
	border-right:1px solid #7d7e79;
	border-bottom:1px solid #7d7e79;
	left:123px;
	position:absolute;
}
.titleWin .cardTool .ctBottomLeft{
	width:100px;
	height:19px;
	border-left:1px solid #7d7e79;
	bottom:0px;
	position:absolute;
}
.titleWin .cardTool .ctBottomCenter{
	width:22px;
	height:19px;
	border-left:1px solid #7d7e79;
	left:100px;
	bottom:0px;
	position:absolute;
}
.titleWin .cardTool .ctBottomRight{
	width:22px;
	height:19px;
	border-left:1px solid #7d7e79;
	border-right:1px solid #7d7e79;
	left:123px;
	bottom:0px;
	position:absolute;
}
.ctBottomIn{
    height:100%;
    width:19px;
    margin:0 auto;
}
.ctBottomInText{
    width:100%;
    height:100%;
    line-height:19px;
    text-align:center;
    color:#FFF;
    font-size:13px;
    display:none;
}
.ctBottomShade{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1001;
    display:none;
}
.serviceList {
    width: 340px;
    height: 185px;
    position: absolute;
    bottom: 84px;
    right: 10px;
    z-index: 998;
    display:none;
}
.serviceList .serviceHidden{
    display:none;
}
.serviceList .serviceListIn{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border:1px solid black;
    opacity:.9;
    
}
.serviceList .serviceListIn .serviceListFront{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#2C2C2C;
    z-index: 1000;
}
.serviceList .serviceListIn .serviceListBack{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#2C2C2C;
    transform:rotateY(180deg);
}
.serviceList .serviceListIn .serviceListTop{
    width: 100%;
    height: 15px;
    background: #525252;
    cursor: s-resize;
}
.serviceList .serviceListIn .serviceListTop .serviceListTopLeft{
    float:right;
    width:15px;
    height:100%;
    margin-right:5px;
    line-height:15px;
    text-align:center;
    color:#E6E6E6;
    cursor:pointer;
    font-size:12px;
}
.serviceList .serviceListIn .serviceListMain{
    width:100%;
    position:absolute;
    top:15px;
    bottom:0px;
    left:0px;

}
.cardList {
    width: auto;
    height: 130px;
    position: absolute;
    bottom: 84px;
    left: 282px;
    right: 354px;
    z-index: 998;
    overflow: hidden;
    display:none;
}
.stImg{
    width:100%;
    height:100%;
}
.st{
  font-size: 13px;
  color: #A6A6A6;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.stWhite{
    background-color:#666666;
}

.stDisplay{
    display:none;
}

.ServiceListBox{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    
}

.ServiceListTitle{
    height:20px;
    color:#E6E6E6;
    padding-left:5px;
    line-height:21px;
    background:#1A1A1A;
    font-size:14px;
}
.ServiceListState{
    height: 49px;
    width: 360px;
    color: #FFF;
    font-size: 12px;
    border-bottom: 1px solid #1A1A1A;
    overflow-x: hidden;
    overflow-y: auto;
}
.ServiceListState .ServiceState{
    height: auto;
    width: 330px;
    padding: 5px;
}
.ServiceListInfoBox{
    position:absolute;
    top:70px;
    bottom:0px;
    left:0;
    right:-20px;
    overflow-x:hidden;
    overflow-y:auto;
}
.servicesListBox{
    width:100%;
    height:auto;
}
.servicesTitle{
    height:25px;
    margin:1px 4px 1px 1px;
    background:#1A1A1A;
    cursor:pointer;
}
.servicesTitle:hover{
    background:#0F0F0F;
}
.servicesTitle .servicesTitleImg{
    margin:5px;
    height:15px;
    width:15px;
    float:left;
}
.servicesTitle .servicesTitleImg .servicesTitleIcon{
    height:15px;
    width:15px;
}
.servicesTitle .servicesTitleText{
    margin-left:25px;
    font-size:14px;
    color:#E6E6E6;
    line-height:25px;
}
.servicesCoveList{
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.ServiceInfo{
    float: left;
    margin-left: 14px;
    margin-top: 14px;
    width: 67px;
    height: 83px;
    position:relative;
}
.ServiceImg{
    width: 65px;
    height: 65px;
    border: 1px solid #FFF;
    background: #1264c8;
    cursor:grab;
}
.ServiceInfoImg{
    position:absolute;
    top:0;
    left:0;
    width:65px;
    height:65px;
    padding:1px;
    background:#454545 url(../Images/shadeImg.png);
    background-position: 1px;
    display:none;
    z-index:1100;
    opacity: .6;
    
}
.ServiceText{
    width:63px;
    height:11px;
    padding:2px;
    line-height:15px;
    color:#E6E6E6;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:12px;
}

.ServiceTopLeft{
    float:left;
    height:100%;
    width:100px;
    /*line-height:20px;*/
}
.ServiceTopRight{
    margin-left: 155px;
    margin-right: 5px;
    height: 100%;
    position: relative;
}
.ServiceTopRight .opaText{
    float:left;
    width:45px;
    height:100%;
    font-size:12px;
}
.ServiceTopRight .opacityBox{
    float:left;
    width:100px;
    height:100%;
    position:relative;
}
.ServiceTopRight .opaValue{
    margin-left:150px;
    margin-right:0;
    font-size:12px;
    line-height:20px;
    text-align:center;
}
.opaSlider{
    margin: 9px 0px;
    padding: 0;
    height: 2px;
    width: 100px;
    background:#E6E6E6;
}
.opaBar{
    margin-top: 3px;
    padding: 0;
    height: 14px;
    width: 7px;
    background:#E6E6E6;
}
.CoveMain{
    position:absolute;
    top:20px;
    bottom:21px;
    left:0;
    right:-20px;
    border-bottom:1px solid #1A1A1A;
    overflow-x:hidden;
    overflow-y:auto;
}
.CoveMain .CoveMainIn{
    height:100%;
    width:338px;
    margin:0;
    padding:0;
}
.CoveBottom{
    height:20px;
    bottom:0;
    width:100%;
    position:absolute;
}
.CoveBottom .CoveToolBar{
    width:20px;
    height:20px;
    float:right;
    cursor:pointer;
}
.CoveBottom .CoveToolBar .CoveToolBarImg{
    width:18px;
    height:18px;
    padding:1px;
    /*background:#E6E6E6;*/
}
.ObjTopDiv{
    width:100%;
    height:20px;
    background:#1A1A1A;
}
.ObjTopDiv .ObjTopLeft{
    /*float:left;*/
    width:100px;
    height:100%;
    line-height:21px;
    margin-left:5px;
    color:#E6E6E6;
    font-size:14px;
}
.ObjTopRight{
    padding:2px 5px 5px 5px;
    height:25px;
    background:#1a1a1a;
}
.ObjTopRight .searchTxt {
    width:304px;
    height:25px;
    padding:0 0 0 25px;
    border:none;
    background:#FFF url(../Images/search.png) no-repeat top left;
    background-size:25px;
}
.ObjMiddleDiv{
    height:50px;
    width:100%;
    border-bottom:1px solid #1A1A1A;
    padding:5px;
    display:none;
}
.ObjMiddleDiv .ObjMiddleIn{
    height: 25px;
    float: left;
    width: 169px;
}
.ObjMiddleDiv .ObjMiddleIn .ObjMiddleInLeft{
    width:16px;
    height:16px;
    margin:5px;
    float:left;
}
.ObjMiddleDiv .ObjMiddleIn .ObjMiddleInRight{
    width:126px;
    height:100%;
    line-height:25px;
    font-size:14px;
    color:#E6E6E6;
    margin-left:20px;
}
.ObjMainBox{
    position:absolute;
    top:52px;
    bottom:0;
    right:-20px;
    left:0;
    overflow-x:hidden;
    overflow-y:auto;
}
.ObjMainBox .ObjMainBoxIn{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 338px;
    color: #E6E6E6;
    font-size: 14px;
}
.ObjMainBox .ObjMainBoxIn .ObjCityBox{
    width:100%;
    height:auto;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTop{
    height:25px;
    margin:1px;
    background:#1A1A1A;
    cursor:pointer;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTopALL{
    height:25px;
    margin:1px;
    background:#1A1A1A;
    padding-left:15px;
    line-height:25px;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTop:hover{
    background:#0F0F0F !important;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTopRight{
    height: 19px;
    width: 19px;
    float: right;
    margin-right: 5px;
    padding: 3px;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTopRight:hover{
    background:#4A4A4A;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTopRightImg{
    width:19px;
    height:19px;
}
.ObjMainBoxIn .ObjCityBox .ObjCityTopLeft{
    margin-right:30px;
    margin-left:5px;
    height:100%;
}
.ObjMainBoxIn .ObjCityBox .ObjTopLeftCoin{
    margin:5px;
    height:15px;
    width:15px;
    float:left;
}
.ObjMainBoxIn .ObjCityBox .objTopLeftImg{
    width:15px;
    height:15px;
}
.ObjMainBoxIn .ObjCityBox .ObjTopLeftText{
    float:left;
    width:60px;
    height:100%;
    line-height:25px;
    margin-left:5px;
}
.ObjMainBoxIn .ObjCityBox .ObjTopLeftText1{
    float:left;
    width:80px;
    height:100%;
    line-height:25px;
    margin-left:5px;
}
.ObjMainBoxIn .ObjCityBox .ObjTopLeftCoCount{
    margin-left:90px;
    width:90px;
    height:100%;
    line-height:25px;
}
.ObjMainBoxIn .ObjCityBox ul{
    list-style:none;
    display:none;
    margin: 0;
    padding: 0;
}
.ObjMainBoxIn .ObjCityBox ul li{
    height:29px;
    margin:0 1px 1px 1px;
    line-height:29px;
    background:#333333;
    cursor:pointer;
}
.ObjMainBoxIn .ObjCityBox ul li:hover{
    background:#515151;
}
.ObjMainBoxIn .ObjCityBox .coImgDiv{
    height:25px;
    width:25px;
    margin: 2px 2px 2px 35px;
    float:left;
}
.ObjMainBoxIn .ObjCityBox .coImg{
    height:25px;
    width:25px;
}
.ObjMainBoxIn .ObjCityBox .coTextDiv{
    height:100%;
    margin-left:68px;
    margin-right:0;
    line-height:29px;
}
.ObjMainBoxIn .ObjCityBox .coTextDiv .coTextInDiv {
    width:100%;
    height:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.cardBox{
    position:absolute;
    width:150%;
    left:0;
    bottom:-20px;
    top:0px;
    overflow-y:hidden;
    overflow-x:auto;
}
.cardBox .cardBoxShade{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1001;
    display:none;
}
.cardBox .cardBoxIn, .cardBox .cardBoxIn2 {
    height: 127px;
    width: 100%;
    white-space: nowrap;
}
.cardBox .cardBoxIn .cardDiv, .cardBox .cardBoxIn2 .cardDiv{
    width:217px;
    height:127px;
    display:inline;
    transition-duration: .3s;
    transition-timing-function:linear;
    transform-style: preserve-3d;
    cursor:pointer;
}
.cardBox .cardBoxIn .cardOne, .cardBox .cardBoxIn2 .cardOne{
    float:left;
    transform:perspective(1000px) translateZ(-100px) rotateY(80deg);
    -webkit-transform:perspective(1000px) translateZ(-100px) rotateY(80deg);
    /*-ms-transform:perspective(1000px) translateZ(-100px) rotateY(80deg);*/
    margin-left:-80px;
}
.cardBox .cardBoxIn .cardTow,.cardBox .cardBoxIn2 .cardTow{
    float:left;
    transform:perspective(1000px) translateZ(-100px) rotateY(80deg);
    -webkit-transform:perspective(1000px) translateZ(-100px) rotateY(80deg);
    /*-ms-transform:perspective(1000px) translateZ(-100px) rotateY(80deg);*/
    margin-left:-165px;
}
.cardBox .cardBoxIn .cardTow:hover{
    margin-left:-85px;
    margin-right:85px;
    transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    -webkit-transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    /*-ms-transform:perspective(1000px) translateZ(0px) rotateY(0deg);*/
}
.cardBox .cardBoxIn .cardOne:hover{
    margin-left:10px;
    margin-right:85px;
    transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    -webkit-transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    /*-ms-transform:perspective(1000px) translateZ(0px) rotateY(0deg);*/
}
.cardTile{
    margin-left:5px;
    transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    -webkit-transform:perspective(1000px) translateZ(0px) rotateY(0deg);
    /*-ms-transform:perspective(1000px) translateZ(0px) rotateY(0deg);*/
}
.scrollSlider{
    margin: 8px 0px;
    padding: 0;
    height: 2px;
    width: 100%;
    background:#E6E6E6;
}
.scrollBar{
    margin-top: 3px;
    padding: 0;
    height: 13px;
    width: 7px;
    background:#E6E6E6;
}

/*图层列表CSS*/
.CaveLayer{
    height:auto;
    width:100%;
}
.CaveLayerTitle{
    height:26px;
    width:100%;
}
.CaveLayerTitle:hover .CoveLayerNameText{
    background:#2E8B57 !important;
}
.CaveLayerTitleLeft{
    width:16px;
    height:16px;
    margin:5px;
    float:left;
    cursor:pointer;
}
.CaveLayerTitleImg{
    width:16px;
    height:16px;
}
.CaveLayerCheckOut{
    width:16px;
    height:16px;
    margin:5px 0;
    float:left;
}
.CoveLayerNameText{
    margin:1px 10px 0 47px;
    height:24px;
    color:#e6e6e6;
    border-bottom: 1px solid #666666;
    line-height:26px;
    font-size:14px;
    cursor:pointer;
}
.CoveLayerBarList{
    height:auto;
    width:100%;
    display:none;
}
.CoveLayerBar{
    margin-left:20px;
    height:26px;
}
.CoveLayerBarChild{
    margin-left:20px;
    height:auto;
    display:none;
}
.CoveLayerBarCheckOut{
    width:16px;
    height:16px;
    margin:5px 0px;
    float:left;
}
.CoveCheckOut_margin{
    margin-left:26px;
}
.CoveLayerBarName{
    height:26px;
    margin-left:47px;
    margin-right:5px;
    color:#e6e6e6;
    line-height:26px;
    font-size:14px;
}
/*3D窗口样式*/
.main3DBox{
    position:absolute;
    top:0;
    left:10px;
    bottom:84px;
    right:352px;
    border:1px solid #1A1A1A; 
    background:#fff;
    z-index:9999;
}
.TwoDimensionBox{
    position:absolute;
    top:0;
    left:50%;
    bottom:84px;
    right:10px;
    border:1px solid #1A1A1A; 
    background:#fff;
    z-index:99;
}
.main3DBox .HideMain3DBox{
    width:30px;
    height:30px;
    border:1px solid #1A1A1A;
    position:absolute;
    right:5px;
    top:5px;
    background:#23b0d7 url(../Images/关闭.png) no-repeat;
}
.objTECenter{
     position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            display:none;
}
.objSGCenter {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            display:none;
        }
/*图例CSS*/
.legendBox{
    width:190px;
    height:280px;
    position:absolute;
    top:100px;
    left:2px;
    border:1px solid #1A1A1A;
    z-index:999;
    background:#FFF;
}
.legendBox .legendTitle{
    padding-left:10px;
    height:24px;
    color:#FFF;
    font-size:14px;
    font-weight:600;
    line-height:25px;
    background:#666666;
}
.legendBox .legendContent{
    width:100%;
    height:260px;
}
.legendBox .legendContent .legendContentImg{
    float:left;
    height:20px;
    width:20px;
    margin:5px 5px 5px 15px ;
}
.legendBox .legendContent .legendContentName{
    height:30px;
    margin-left:45px;
    line-height:30px;
    margin-right:10px;
    font-size:12px;
}
.videoBox{
    height:100%;
    width:100%;
    z-index:100000;
}

/*skyline功能按钮样式*/
.skylineToolList{
    position:absolute;
    width:100%;
    bottom:2px;
    height:37px;
    z-index:100;
    opacity:0.9;
    display:none;
}
.skylineToolList .skylineToolListIn{
    width:884px;
    height:35px;
    border:1px solid #000;
    margin:0 auto;
    display:none;
}
.skylineToolList .skylineToolListIn .SkylineToolBar{
    float:left;
    width:200px;
    height:100%;
    border-right:1px solid #000;
    background:#2C2C2C;
    text-align:center;
    line-height:35PX;
    color:#FFF;
    font-weight:600;
    cursor:pointer;
}
.skylineToolList .skylineToolListInOne{
    width:301px;
    height:35px;
    border:1px solid #000;
    margin:0 auto;
}
.skylineToolList .skylineToolListInOne .SkylineToolBar{
    float:left;
    width:150px;
    height:100%;
    border-right:1px solid #000;
    background:#2C2C2C;
    text-align:center;
    line-height:35PX;
    color:#FFF;
    font-weight:600;
    cursor:pointer;
}
.skylineToolList .SkylineToolRiver{
    width:323px;
    height:35px;
    border:1px solid #000;
    margin:0 auto;
    display:none;
}
.skylineToolList .SkylineToolRiver .SkylineToolBar{
    float:left;
    width:80px;
    height:100%;
    border-right:1px solid #000;
    background:#2C2C2C;
    text-align:center;
    line-height:35PX;
    color:#FFF;
    font-weight:600;
    cursor:pointer;
}

.printBox{
    position: absolute;
    /*display: none;*/ 
    width: 270px;
    height: 150px;
    top: 110px;
    left: 0px;
    background: #FFF;
    z-index:99;
}
.printBox .printBoxTitle{
    float:right;
    width:30px;
    height:100%;
    background:#666666;
}
.printBox .printBoxTitle .printBoxHide{
    width:24px;
    height:24px;
    margin:3px;
    cursor:pointer;
}
.printBox .printBoxTitle .printBoxHide:hover{
    background:#C6C6C6;
}
.printBox .printBoxTitle .printTitleText{
    margin:10px auto;
    height:auto;
    width:100%;
    color:#FFF;
    font-size:16px;
    font-weight:600;
    line-height:22px;
    text-align:center;
}
.printBox .printMainBox{
    width: 218px;
    height: 128px;
    padding: 10px;
    border: 1px solid #C6C6C6;
}
.printBox .printMainBox .printBar{
    width:100%;
    height:30px;
}
.printBox .printMainBox .printBar .printBarLeft{
    width: 45px;
    height: 100%;
    float: left;
    line-height: 30px;
    font-size: 14px;
}
.printBox .printMainBox .printBar .printBarCenter{
    margin-left: 45px;
    margin-right:20px;
    height: 30px;
}
.printBox .printMainBox .printBar .printBarCenter .printTextBar{
    height:20px;
    width:145px;
    border:1px solid #aaaaaa;
    /*border-radius:5px;*/
    margin-top:2px;
}
.printBox .printMainBox .printBar .printBarRight{
    float:right;
    width:20px;
    height:100%;
    line-height:35px;
    text-align:center;
    color:red;
    font-size:18px;
}
.printBox .printMainBox .printComfirm{
    height: 25px;
    margin: 7px auto 0px auto;
    width: 128px;
    line-height: 25px;
    border: 1px solid #C6C6C6;
    background: #e6e6e6;
    color: #1A1A1A;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.printBox .printMainBox .printComfirm:hover{
    background: #666666;
    color: #fff;
}
.printBox .textbox{
    margin-top:2px;
    border:1px solid #aaaaaa;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.LocationBox{
    position: absolute;
    width: 270px;
    height: 200px;
    top: 100px;
    left: 0px;
}
.LocationBox .LocationBoxTop{
    width:30px;
    height:100%;
    background:#666666;
    float:right;
    text-align:center;
}
.LocationBox .LocationBoxTop .LocationTitleDiv{
    width:100%;
    height:126px;
    margin:10px auto;
    color:#FFF;
    font-weight:600;
}
.LocationBox .LocationBoxTop .LocationBoxHide{
    margin:3px;
    width:24px;
    height:24px;
    cursor:pointer;
}
.LocationBox .LocationBoxTop .LocationBoxHide:hover{
    background:#c6c6c6;
}
.LocationBox .LocationBoxTop .LocationBoxToLeft{
    margin:3px;
    padding:2px;
    width:20px;
    height:20px;
    cursor:pointer;
}
.LocationBox .LocationBoxTop .LocationBoxToLeft:hover{
    background:#c6c6c6;
}
.LocationBox .LocationMainBox{
    width: 238px;
    height: 198px;
    font-weight: 600;
    background: #FFF
}
.LocationBox .LocationMainBox .LocationBar{
    width:60px;
    height:48px;
    float:left;
    background:#7f7f7f;
    border:1px solid #C6C6C6;
    cursor:pointer;
    padding-top:12px;
    text-align:center;
    margin-left:15px;
    margin-top:15px;
    color:#FFF;
}

.LocationBox .LocationMainBox .LocationBar:hover{
    background:#19dd8f;
}

.LocationBox .LocationMainBox .LocationPointBox{
    width: 208px;
    height: 22px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 10px;
}
.LocationBox .LocationMainBox .LocationPointBox .LocationPoint{
    width: 50px;
    height: 100%;
    float: left;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
}
.LocationBox .LocationMainBox .LocationPointBox .LocationPointText{
    height: 22px;
    font-size: 12px;
    margin-left: 50px;
}
.LocationBox .LocationMainBox .LocationPointBox .LocationPointText .inputPoint{
    width:140px;
    height:16px;
}
.LocationBox .LocationMainBox .LocationPointConfirm{
    width: 136px;
    height: 30px;
    background: #C6C6C6;
    /* margin-top: 8px; */
    margin-left: 45px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    border: 1px solid #666666;
}
.LocationBox .LocationMainBox .LocationPointConfirm:hover{
    background:#7F7F7F;
    color:#FFF;
}
#con {
	FONT-SIZE: 12px;
	border:1pt solid #D7D7D7;
}
#tags {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
    
	HEIGHT: 27px;
	background:url(../images/tab03.jpg) repeat-x;
	margin:0;
}
#tags LI {
	background:url(../images/tab03.jpg) repeat-x;
	FLOAT: left;
	text-align:center;
	LIST-STYLE-TYPE: none;
	HEIGHT: 27px;
	border-right:1px solid #d4d4d4;
	line-height:27px;
}
#tags LI A {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #000;
	LINE-HEIGHT: 27px;
	font-weight:bold;
	PADDING-TOP: 0px;
	HEIGHT: 27px;
	TEXT-DECORATION: none
}
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px
}
#tags LI.selectTag {
	POSITION: relative;
	HEIGHT: 27px
}
#tags LI.selectTag A {
	background:url(../images/tab01.jpg) repeat-x;
	COLOR: #de0900;
	font-weight:bold;
	LINE-HEIGHT: 27px;
	HEIGHT: 27px
}
#tagContent {
	height:172px;
}
.tagContent {
	DISPLAY: none;
	COLOR: #474747;
	HEIGHT: 162px;
	padding:5px;
    overflow-x:hidden;
    overflow-y:auto;
}
.tagContent .locationSelectBar{
    margin:1px;
    background:#FFF;
    border:1px solid #e6e6e6;
    height:22px;
    padding-left:10px;
    line-height:22px;
    cursor:pointer;
}
.tagContent .locationSelectBar:hover{
    background:#19dd8f;
}
#tagContent DIV.selectTag {
	DISPLAY: block
}
.ShowLocationBox{
    position:absolute;
    height:40px;
    width:14px;
    left:0;
    top:200px;
    border:1px solid #E6E6E6;
    background:#666666;
    display:none;
    cursor:pointer;
}
.ShowLocationBox:hover{
    background:#19dd8f;
}
.LocationBoxBackToLeft{
    animation: LocationBoxGoToLeft .5s ease both;
    -moz-animation: LocationBoxGoToLeft .5s ease both;
    -webkit-animation:LocationBoxGoToLeft .5s ease both;
    -o-animation:LocationBoxGoToLeft .5s ease both;
}
.LocationBoxBackToRight{
    animation: LocationBoxGoToRight .5s ease both;
    -moz-animation: LocationBoxGoToRight .5s ease both;
    -webkit-animation:LocationBoxGoToRight .5s ease both;
    -o-animation:LocationBoxGoToRight .5s ease both;
}
@keyframes LocationBoxGoToLeft{
    0%{
        left:0px;
    }
    100%{
        left:-240px;
    }
}
@-moz-keyframes LocationBoxGoToLeft{
    0%{
        left:0px;
    }
    100%{
        left:-240px;
    }
}
@-webkit-keyframes LocationBoxGoToLeft{
    0%{
        left:0px;
    }
    100%{
        left:-240px;
    }
}
@-o-keyframes LocationBoxGoToLeft{
    0%{
        margin-left:0px;
    }
    100%{
        margin-left:-240px;
    }
}
@keyframes LocationBoxGoToRight{
    0%{
        margin-left:-240px;
    }
    100%{
        margin-left:0px;
    }
}
@-moz-keyframes LocationBoxGoToRight{
    0%{
        margin-left:-240px;
    }
    100%{
        margin-left:0px;
    }
}
@-webkit-keyframes LocationBoxGoToRight{
    0%{
        margin-left:-240px;
    }
    100%{
        margin-left:0px;
    }
}
@-o-keyframes LocationBoxGoToRight{
    0%{
        margin-left:-240px;
    }
    100%{
        margin-left:0px;
    }
}
.esriScalebar{
    padding-left:60px;
}
.ObjCityBoxR{
    width:100%;
    height:auto;
}
.ObjCityBoxR .ObjCityTop{
    height:25px;
    margin:1px;
    border:1px solid #666666;
    cursor:pointer;
}
.ObjCityBoxR .ObjCityTop:hover{
    background:#0F0F0F !important;
}
.ObjCityBoxR .ObjCityTopRight{
    height: 19px;
    width: 19px;
    float: right;
    margin-right: 5px;
    padding: 3px;
}
.ObjCityBoxR .ObjCityTopRight:hover{
    background:#4A4A4A;
}
.ObjCityBoxR .ObjCityTopRightImg{
    width:19px;
    height:19px;
}
.ObjCityBoxR .ObjCityTopLeft{
    margin-right:30px;
    margin-left:5px;
    height:100%;
}
.ObjCityBoxR .ObjTopLeftCoin{
    margin:5px;
    height:15px;
    width:15px;
    float:left;
}
.ObjCityBoxR .objTopLeftImg{
    width:15px;
    height:15px;
}
.ObjCityBoxR .ObjTopLeftText{
    float:left;
    width:60px;
    height:100%;
    line-height:25px;
    margin-left:5px;
}
.ObjCityBoxR .ObjTopLeftText1{
    float:left;
    width:80px;
    height:100%;
    line-height:25px;
    margin-left:5px;
}
.ObjCityBoxR .ObjTopLeftCoCount{
    margin-left:90px;
    width:90px;
    height:100%;
    line-height:25px;
}
.ObjCityBoxR .coUl{
    list-style:none;
    display:none;
    margin: 0;
    padding: 0;
}
.ObjCityBoxR .coUl .locationSelectBar{
    height:29px;
    margin:0 1px 1px 1px;
    line-height:29px;
    border:1px solid #666666;
    cursor:pointer;
}
.ObjCityBox .coUl .locationSelectBar:hover{
    background:#515151;
}
.ObjCityBox .coImgDiv{
    height:25px;
    width:25px;
    margin: 2px 2px 2px 35px;
    float:left;
}
.ObjCityBoxR .coImg{
    height:25px;
    width:25px;
}
.ObjCityBoxR .coTextDiv{
    height:100%;
    margin-left:68px;
    margin-right:0;
    line-height:29px;
}
.ObjCityBoxR .coTextDiv .coTextInDiv {
    width:100%;
    height:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}