body {
    margin:15px 0 !important;
    padding:0;
    background-color:#ffffff;    
    font-size:14px;
    color:#8a8a8a;
}
.gis-head{
    background-color:#ededed;
    width:100%;
    padding:7px 10px;
    color:#2a2a2a;
}
.gis-head span{
    color:#8fbb59;
    padding:0 5px 0 0;
}
.gis-content{
    padding:10px;
    border:1px solid #ededed;
    background-color:#fff;
}
.gis-content1{
    position:absolute;
    top:50px;
    right:15px;
    width:180px;
    font-size:12px;
}
.gis-content2{
    position:absolute;
    bottom:30px;
    right:15px;
    width:180px;
    line-height:20px;
    background-color:#fff;
}
.padd-s{
    padding:5px !important;
}
/*列表*/
table{
    *border-collapse: collapse;
    border-spacing: 0;
    width: 100%;   
}

table thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}

table {
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px #f3f3f3; 
    -moz-box-shadow: 0 1px 1px #f3f3f3; 
    box-shadow: 0 1px 1px #f3f3f3;       
}
  
table td,  th {
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    padding:10px 4px;
    text-align: center;
    font-size:12px;
    color:#3f4e53;    
}
table th {
    background-color: #a2e6f1;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    color:#3f4e53;
    font-weight:bold;
    text-align:center;
    font-size:12px;
}


/*列表*/