body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
.ziti{
    text-align:left; 
    line-height:57px; 
    font-size:15px;
    font-family:'Microsoft YaHei';
    font-weight:bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ziti1{
    text-align:left; 
    line-height:30px; 
    font-size:12px;
    font-family:'Microsoft YaHei';
    font-weight:bold;
    
}
.ziti3{
    text-align:center; 
    line-height:30px; 
    font-size:15px;
    font-family:'Microsoft YaHei';
    font-weight:bold;
    
}
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #a9c6c9;
    height:5px;
}
.oddrowcolor{
	background-color:#F6FDFF;
}
.evenrowcolor{
	background-color:#FCFCFF;
}